div.wrapper.wrapper-style4
  article#contact
    header
      h2 Kapcsolódj be a munkába!
      span A munka önkéntes és nyílt. Munkáddal hozzájárulsz az egyszerűbb, és érthetőbb kormányzati informatikához!
    div
      div.row.row-special
        div.12u
          h3 Itt megtalálsz minket...
            ul.social
              li.twitter
                a(href="http://twitter.com/@patoistvan", class="icon icon-twitter")
                  span Twitter
              li.github
                a(href="http://github.com/opengov-hu/opengov.hu", class="icon icon-github")
                  span Github
    footer
      p#copyright
        a(rel="license", href="http://creativecommons.org/licenses/by/2.5/hu/deed.en_US")
          img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by/2.5/hu/80x15.png")
        br
        &copy;
        span(xmlns:dct="http://purl.org/dc/terms/", href="http://purl.org/dc/dcmitype/Text", property="dct:title", rel="dct:type")
            | OpenGov.hu teljes tartalma a&nbsp;
            a(rel="license", href="http://creativecommons.org/licenses/by/2.5/hu/deed.en_US") Creative Commons Attribution 2.5 Hungary License
            | &nbsp;alá tartozik.
            | Minden további névjegy és márkanév a megfelelő birtokosuk tulajdona.
            | Az oldal megjelenésére a Creative Commons Attribution 3.0 Unported licensz vonatkozik:
            | Images:&nbsp;
            a(href="http://fotogrph.com") fotogrph
            | &nbsp;Design:&nbsp;
            a(href="http://html5up.net/") HTML5 UP
